<header>
  <div class="navbar-container">
    <div class="logo-container">
      <a [routerLink]="['/']">
        <img src="../../assets/logo.png" alt="logo" />
      </a>
    </div>
    <nav class="navbar">
      <ul>
        <li><a [routerLink]="['/']" >Movies</a></li>
        @if (loggedIn()) {
          <li id="profile" [routerLink]="['/profile']"><a>Profile</a></li>
        }
        <li><a id="login-logout" (click)="onLoginOrLogout()" >{{loggedIn() ? 'Logout' : 'Login'}}</a></li>
      </ul>
    </nav>
  </div>
</header>