<div class="rating-card">
  <a class="rating-img-container" [routerLink]="['/details', movie.id]" >
    <img src="{{movie.poster_path}}" alt="movie poster">
  </a>
  <div class="rating-title-container">
  <a [routerLink]="['/details', movie.id]">
      <p>{{movie.title}}</p>
    </a>
  </div>
  <div class="rating-lang-container">
    <p>{{movie.original_language.toUpperCase()}}</p>
  </div>
  <div class="rating-year-container">
    <p>{{movie.release_date.slice(0,4)}}</p>
  </div>
  <div class="rating-genre-container">
    <p>{{movie.genre_ids}}</p>
  </div>
  <p>{{movie.rating}}/10</p>
</div>