/* Sort radio buttons */
#sorting-container {
	display: flex;
	justify-content: flex-end;
}

.sorting {
	margin: 1.5vh 5vh 0 0;
	font-size: 1.7rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
	cursor: pointer;
	background-color: #1f252f;
	color: rgba(255, 255, 255, 0.829);
	border-radius: 5px;
}

@media (max-width: 646px) {
  .sorting {
    margin: 1.5vh 4vh 0 0;
  }
}

#movie-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#load-more {
	display: flex;
	justify-content: center;
	padding: 3vh 0 5vh 0;
}

button {
	padding: 1.3em 3em;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

button:hover {
	background-color: #c3002dd1;
	box-shadow: 0px 15px 20px rgba(227, 78, 75, 0.4);
	color: #fff;
	transform: translateY(-7px);
}

button:active {
	transform: translateY(-1px);
}